<!DOCTYPE html>
<html xmlms="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="main">
	<label for="writer">작성자 :</label>
	<input type="text" name="writer" id="writer" th:value="${board.writer}" disabled="disabled">
	<label for="title">제목 :</label>
	<input type="text" name="title" id="title" th:value="${board.title}" disabled="disabled">
	<label for="content">내용 :</label>
	<!-- text로 넘어올 때는 value가 아니라 text로 보내줘함 -->
	<textarea name="content" id="content" th:text="${board.content}" disabled="disabled"></textarea>
	<a th:href="@{/board/update/{idx}(idx=${board.idx})}" id="update">수정</a>
	<a th:href="@{/board/delete/{idx}(idx=${board.idx})}" id="delete">삭제</a>
</div>
</body>
</html>