<!DOCTYPE html>
<html xmlms="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="main">
	<form method="post" th:action="@{/board/register}">
		<label for="writer">작성자 :</label>
		<input type="text" name="writer" id="writer">
		<label for="title">제목 :</label>
		<input type="text" name="title" id="title">
		<label for="content">내용 :</label>
		<textarea name="content" id="content"></textarea>
		<button type="submit">등록</button>
	</form>
</div>
</body>
</html>